<tr>
    <td class="column fileColumn">{{rowFile.filename}}</td>
    <td class="column methodColumn">{{rowFile.methodName}}</td>
    <td class="column cyclomaticColumn">{{rowFile.cyclomaticValue}}</td>
    <td class="column cognitiveColumn">{{rowFile.cognitiveValue}}</td>
</tr>
