<tr>
    <td class="column fileColumn">{{analyse.filename}}</td>
    <td class="column methodColumn">{{analyse.methodName}}</td>
    <td class="column cyclomaticColumn">{{analyse.cyclomaticValue}}</td>
    <td class="column cognitiveColumn">{{analyse.cognitiveValue}}</td>
</tr>
