
<tr>
    <td class="column fileColumn">{{analyse.filename}}</td>
    <td class="column methodColumn">{{analyse.method}}</td>
    <td class="column cyclomaticColumn">{{analyse.cyclomaticScore}}</td>
    <td class="column cognitiveColumn">{{analyse.cognitiveScore}}</td>
</tr>
